version: '3.6'

services:

  nginx:
    image: nginx:latest
    container_name: prom-nginx
    ports:
      - 443:443
    restart: always
    volumes:
      - ./nginx/conf/:/etc/nginx/conf.d/:ro
      - ./nginx/dhparams.pem:/etc/nginx/dhparams.pem:ro
      - ./certbot/www:/var/www/certbot/:ro
      - ./certbot/conf/:/etc/letsencrypt/:ro
      - ./nginx/log/:/var/log/nginx/:rw

  prometheus:
    image: prom/prometheus:latest
    container_name: prom-prometheus
    restart: always
    volumes:
      - "./prometheus-data:/prometheus"
      - "./prometheus:/etc/prometheus"
    ports:
      - 9090:9090
    command: >-
      --config.file=/etc/prometheus/prometheus.yml
      --storage.tsdb.retention.size {{ monitoring_prometheus_retention_size }}
      --storage.tsdb.retention.time {{ monitoring_prometheus_retention_time }}

  alertmanager:
    image: prom/alertmanager:latest
    container_name: prom-alertmanager
    restart: always
    volumes:
      - "./alertmanager:/etc/alertmanager"
      - "./alertmanager-data:/alertmanager/"
    ports:
      - 9093:9093
    command: >-
      --config.file=/etc/alertmanager/alertmanager.yml
      --storage.path=/alertmanager
    depends_on:
      - prometheus

  grafana:
    image: grafana/grafana:latest
    container_name: prom-grafana
    restart: always
    volumes:
      - "./grafana-data:/var/lib/grafana"
    environment:
      - "GF_INSTALL_PLUGINS=camptocamp-prometheus-alertmanager-datasource,grafana-piechart-panel"
      - "GF_USERS_DEFAULT_THEME=light"
      - "GF_SERVER_ROOT_URL=https://{{ monitoring_server_host | default (inventory_hostname) }}"
{% if prometheus_telegram_token is defined %}
      - "GF_SMTP_ENABLED=true"
      - "GF_SMTP_HOST={{ monitoring_mail_server }}:25"
      - "GF_SMTP_USER={{ monitoring_mail_user }}"
      - "GF_SMTP_FROM_ADDRESS={{ monitoring_mail_from | default(monitoring_mail_user)}}"
      - "GF_SMTP_PASSWORD={{ monitoring_mail_password }}"
{% endif %}
    ports:
      - 3000:3000
    depends_on:
      - prometheus

{% if loki_url is defined %}
  loki:
    image: grafana/loki:latest
    container_name: prom-loki
    restart: always
    volumes:
      - "./loki-data:/loki"
      - "./loki/loki-config.yml:/etc/loki/local-config.yaml"
      - "./loki/alerts:/loki/rules/fake"
    ports:
      - 3100:3100
{% endif %}

  node-exporter:
    image: prom/node-exporter:latest
    container_name: prom-node-exporter
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command: 
      - '--path.procfs=/host/proc' 
      - '--path.sysfs=/host/sys'
      - --collector.filesystem.ignored-mount-points
      - "^/(sys|proc|dev|host|etc|rootfs/var/lib/docker/containers|rootfs/var/lib/docker/overlay2|rootfs/run/docker/netns|rootfs/var/lib/docker/aufs)($$|/)"
    expose:
      - "9100"
    restart: always

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: prom-cadvisor
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    expose:
      - "8080"
    restart: always