{{ define "telegram.html.message" }}
{{ range .Alerts }}
{{ if eq .Status "firing"}}🔥 <b>Firing {{ .Labels.alertname }}</b>{{ else }}✅ <b>Resolved {{ .Labels.alertname }}</b>{{ end }}
{{ range $key, $value := .Annotations }}{{ $value }}{{ end }}
{{ end }}
{{ end }}